.choice{
    width: 8vw;
    height:8vw;
    margin: 0 1em;
    display: inline-block;
    color:white;
    border-radius: 50%;
    overflow: hidden;
    border: 0.3vw solid white;
    
    
}
img{
    width: 100%;
}
.choice:hover{
    cursor: pointer;
    box-shadow: 0 0 10px white;
}
.choice:active{
   box-shadow: 0 0 10px white;
   transform: scale(90%);

}