<div class="choices">
    <div class="choice" (click)="play('r')">
        <img src="assets/images/rock.jpg" alt="rock">
    </div>
    <div class="choice" (click)="play('p')">
        <img src="assets/images/paper.jpg" alt="paper">
    </div>
    <div class="choice" (click)="play('s')">
        <img src="assets/images/scissors.jpg" alt="scissors">
    </div>
    <div class="choice" (click)="play('l')">
        <img src="assets/images/lizard.jpg" alt="lizard">
    </div>
    <div class="choice" (click)="play('sp')">
        <img src="assets/images/spock.jpg" alt="spock">
    </div>
</div>
