h2{
    font-family: Game-font;
    height: 9vh;
    width: 100%;
    padding: 0.3em;
    text-align: center;
    background-color: white;
    color: black;
}
footer{
    font-family: Game-font;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.7em;
    height: 7vh;
    font-size: 1em;
    text-align: center;
    background-color: white;
    
}
footer a{
    color: black;
    text-decoration: none;
}
.col-12{
    padding: 0;
}

